<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>

		<!-- ASSIGNMENT - Session Timeout -->
		<!-- Timeout="1" is equivalent to 1 minute before session timeout -->
		<sessionState mode="InProc" timeout="1"/>

		<!-- ASSIGNMENT - URL Encoding -->
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0"/>
		<pages validateRequest="false"/>

		<!-- ASSIGNMENT - Custom Error pages -->
		<customErrors mode="On" defaultRedirect="~/CustomError/MichGenericError.html">
			<error statusCode="403" redirect="~/CustomError/MichHTTP403.html"/>
			<error statusCode="404" redirect="~/CustomError/MichHTTP404.html"/>
			<error statusCode="500" redirect="~/CustomError/MichHTTP500.html"/>

		</customErrors>

	</system.web>

	<!-- ASSIGNMENT - Database Connection String -->
	<connectionStrings>
		<add name="ASMichDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\sit\Desktop\Application Security Assignment\V2_AppSecAssignment\190448J_V2AppSecAssignment\190448J_V2AppSecAssignment\App_Data\ASMichDB.mdf;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

</configuration>
